{# <pre>
    {{ dump(menu) }}
    {{ dump(content) }}
</pre> #}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    {{ menu | raw }}
    {{ content | raw }}
</div>
</body>
</html>
